[Desktop Entry]
Name=ESPN
Comment=Open ESPN in Firefox kiosk
Exec=firefox --kiosk https://www.espn.com/watch
Icon=chromium
Terminal=false
Type=Application
Categories=Network;WebBrowser;
