[Desktop Entry]
Name=ESPN
Comment=Open ESPN in Ungoogled Chromium (App Mode)
Exec=chromium-vaapi --app=https://www.espn.com/watch
Icon=chromium
Terminal=false
Type=Application
Categories=Network;WebBrowser;
