[Desktop Entry]
Name=Home Assistant
Comment=Open ha.rafterw.io in Ungoogled Chromium (App Mode)
Exec=chromium --force-dark-mode --enable-features=WebUIDarkMode --app=https://ha.rafterw.io
Icon=chromium
Terminal=false
Type=Application
Categories=Network;WebBrowser;
