[Desktop Entry]
Name=ESPN
Comment=Open ESPN in Ungoogled Chromium (App Mode)
Exec=ungoogled-chromium --app=https://www.espn.com
Icon=chromium
Terminal=false
Type=Application
Categories=Network;WebBrowser;
